# dependencies
node_modules/

# environment files
.env
.env.local
.env.*

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# zip files
*.zip